.banner {
  display: block;
  width: 100%;
  line-height: 3em;
  text-align: center;
  font-family: Avenir;
  transition-duration: 0.3s;
  min-height: 3em;
  margin-bottom: 1em;

  &.hidden {
    min-height: 0;
    margin-bottom: 0;
  }

  &.info {
    background-color: #CCE5FF;
    color: #004C99;
  }

  &.error {
    background-color: #FFCCCC;
    color: #660000;
  }
}

:global(.dark) .banner {
  &.info {
    background-color: #003265;
    color: #8dc4ff;
  }

  &.error {
    background-color: #660000;
    color: #ffacac;
  }
}