@use 'variables' as *;
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

body {
  transition-duration: 0.4s;
  color: $background-gray;
}

body.dark {
  background-color: $background-gray;
  color: white;
}

.content {
  transition: width .3s;
  width: 85%;
  margin: 0 auto;
}

.flex-content {
  // display: flex;
  // flex-wrap: wrap;
}

h1 {
  transition-duration: 0.4s;
  color: $dark-gray;
}

.dark h1 {
  color: $lightest-gray;
}

a.inline {
  text-decoration: none;
  color: $darker-green;
}

a.inline:hover {
  text-decoration: underline;
  color: $dark-green;
}

.dark a.inline {
  color: $dark-green;
}

.dark a.inline:hover {
  color: $green;
}

input {
  display: block;
  border-radius: .2em;
  font-size: 16px;
  border: 1px solid #919191;
  color: black;
  padding: .5em .3em;
  transition-duration: 0.4s;
  width: 200px;
}

.dark input {
  background-color: #1A1A1A;
  color: white;
}

nav {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: .5em;
  // background-color: #003265;
}

.flex-wrapped {
  display: flex;
  flex-wrap: wrap;
}

.row-break {
  flex-basis: 100%;
}

.loader {
  margin: auto 0 auto 1em;
  display: inline-block;
  border: 3px solid $darkest-green; /* Light grey */
  border-top: 3px solid white; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * =============================
 * --------- BUTTON ------------
 * =============================
 */

 // Reset all the default styling
 button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Basic Button

.button {
  font-weight: bold;
  background-color: $button-enabled-light;
  color: #ffffff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: .2s;
}

.button:hover {
  background-color: $button-hover-light;
}

.button:active {
  background-color: $button-active-light;
  transition-duration: 0.0s;
}

// Primary Button

.button-primary {
  background-color: $button-primary-enabled-light;
}

.button-primary:hover {
  background-color: $button-primary-hover-light;
}

.button-primary:active {
  background-color: $button-primary-active-light;
  transition-duration: 0.0s;
}

.button:disabled,
.button[disabled]{
  background-color: $button-primary-disabled-light;
  cursor: not-allowed;
}

// Dark
// Basic Button

// Primary Button

.dark .button-primary {
  background-color: $button-primary-enabled-dark;
}

.dark .button-primary {
  background-color: $button-primary-enabled-dark;
}

.dark .button-primary:hover {
  background-color: $button-primary-hover-dark;
}

.dark .button-primary:active {
  background-color: $button-primary-active-dark;
}

.dark .button:disabled,
.dark .button[disabled]{
  background-color: $button-primary-disabled-dark;
  color: $dark-gray;
}

/*
 * =============================
 * --------- Headers -------
 * =============================
 */

.center-header {
  font-family: Avenir;
  font-weight: 100;
  font-size: 4em;
  line-height: 1.3em;
  color: $dark-gray;
  text-align: center;
}

.center-header2 {
  font-family: Avenir;
  font-weight: 100;
  font-size: 2em;
  line-height: 1em;
  color: $dark-gray;
}


/*
 * =============================
 * --------- Flex-Button -------
 * =============================
 */


.btn {
  width: 500px;
	position: relative;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: center;
	align-self: center;
	// padding: 0 1.25rem;
  padding: 0 3em;

	line-height: 2.125rem;
	text-align: center;
	margin: .125rem;
	
	border-radius: .125rem;
	// border: 2px solid $green;
	background-color: $green;
	color: white;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
  vertical-align: middle;
	outline: none;
	
	&:before {
		background-color: white;
		content: "";
		display: flex;
		transform: scale(1, 0);
		transition: transform .25s ease;
		transform-origin: 50% 100%;
		position: absolute;
		overflow: hidden;
		border-radius: 1px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		//will-change: transform; //strange bug with right border
		z-index: 0;
	}
	
	span {
		display: flex;
		position: relative;
		z-index: 1;
	}
	
	.icon {
		line-height: 2.125rem;
		font-size: 1.25rem;
		margin: 0 .25rem 0 -.25rem;
	}
	
	&.block {
		align-self: stretch;
		width: 100%;
		flex: 1 1 auto;
	}
}

/*
 * =============================
 * --------- BANNER ------------
 * =============================
 */

 .banner {
  width: 100%;
  min-height: 3em;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  font-family: Avenir;
  transition-duration: 0.3s;
  margin-bottom: 1em;
 }

 .banner-info {
  background-color: #CCE5FF;
  color: #004C99;
 }

 .dark .banner-info {
  background-color: #003265;
  color: #8dc4ff;
 }

 .banner-error {
  background-color: #FFCCCC;
  color: #660000;
 }

 .dark .banner-error {
  background-color: #660000;
  color: #ffacac;
 }

 .banner-disabled {
  opacity: 0%;
 }

 /*
 * =============================
 * --------- FORM BOX ----------
 * =============================
 */

 .form-box {
  display: flex;
  flex-wrap: wrap;

  width: 50%;
  margin: 0 auto;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: $white-gray;
 }

// .form-box .TextField {
//   margin: 0 auto;
//   width: 70%;
//  }

 .form-box h1 {
  width: 100%; 
  text-align: center;
  transition-duration: 0.4s;
 }


.dark .form-box {
  background-color: $division-gray;
}


@media screen and (max-width: 1200px) {
  .content {
    transition: width .2s;
    width: 95%;
    margin: 0 auto;
  }

  .form-box {
    transition: width .2s;
    transition: background-color .4s;
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .form-box {
    transition: width .2s;
    transition: background-color .4s;
    width: 100%;
    margin: 0 auto;
  }

  nav {
    margin-bottom: .1em;
  }

  .banner {
    margin-bottom: .8em;
  }

  .banner-disabled {
    margin-bottom: .1em;
  }
}