@use 'variables';

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
}

.body {
  transition-duration: 0.4s;
  padding-bottom: 100%;
  color: variables.$darkest-gray;
}

.dark.body {
  color: white;
  background-color: variables.$background-gray;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: Helvetica, monospace;
  transition-duration: 0.4s;
  color: variables.$dark-gray;
}

a.inline {
  text-decoration: none;
  color: variables.$darker-green;
}

a.inline:hover {
  text-decoration: underline;
  color: variables.$dark-green;
}

.dark a.inline {
  color: variables.$dark-green;
}

.dark a.inline:hover {
  color: variables.$green;
}

input {
  font-size: 16px;
}

input {
  display: block;
  border-radius: .3em;
  font-size: 16px;
  border: 1px solid #919191;
  color: black;
  padding: 12px 4px;
  transition-duration: 0.4s;
}

.dark input {
  background-color: #1A1A1A;
  color: white;
}

/*
 * =============================
 * --------- BUTTON ------------
 * =============================
 */

 // Reset all the default styling
 button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

// Basic Button

.button {
  font-weight: bold;
  background-color: variables.$button-enabled-light;
  color: #ffffff;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: .2s;
}

.button:hover {
  background-color: variables.$button-hover-light;
}

.button:active {
  background-color: variables.$button-active-light;
  transition-duration: 0.0s;
}

// Primary Button

.button-primary {
  background-color: variables.$button-primary-enabled-light;
}

.button-primary:hover {
  background-color: variables.$button-primary-hover-light;
}

.button-primary:active {
  background-color: variables.$button-primary-active-light;
  transition-duration: 0.0s;
}

.button:disabled,
.button[disabled]{
  background-color: variables.$button-primary-disabled-light;
  cursor: not-allowed;
}

// Dark
// Basic Button

// Primary Button

.dark .button-primary {
  background-color: variables.$button-primary-enabled-dark;
}

.dark .button-primary {
  background-color: variables.$button-primary-enabled-dark;
}

.dark .button-primary:hover {
  background-color: variables.$button-primary-hover-dark;
}

.dark .button-primary:active {
  background-color: variables.$button-primary-active-dark;
}

.dark .button:disabled,
.dark .button[disabled]{
  background-color: variables.$button-primary-disabled-dark;
  color: variables.$dark-gray;
}

/*
 * =============================
 * ------- NAVIGATION ----------
 * =============================
 */

nav {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: .5em;
  // background-color: #003265;
}

#toggle-dark-mode-button {
  margin-left: 1em;
  margin-top: .8em;
  height: 2.4em;
}

#toggle-dark-mode-img {
  height: 2.4em;
  width: 2.4em;
}

#login-nav-button {
  margin-left: auto;
}

.link {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  padding: .6em 1.3em;
  transition-duration: 0s;
  margin-left: 1em;
  margin-top: .8em;
}

.link:hover {
  border-radius: 0;
  border-bottom: 3px solid variables.$primary-light;
  margin-bottom: -3px;
}

.link:active {
  transition-duration: 0.2s;
  color: variables.$primary-light;
  background-color: rgba(0,0,0,0);
}

.dark .link {
  color: variables.$lightest-gray;
}

.dark .link:hover {
  border-color: variables.$primary-hover-dark;
}

.dark .link:active {
    color: variables.$primary-light;
    background-color: rgba(0,0,0,0);
}

.active-page {
  color: #ffffff;
  background-color: #0FD68D;
  transition-duration: 0.2s;
}

.active-page:hover {
  background-color: variables.$primary-hover-light;
  border-radius: 8px;
  border: 0;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.dark .active-page {
  color: #ffffff;
  background-color: variables.$primary-dark;
  transition-duration: 0.2s;
}

.dark .active-page:hover {
  background-color: variables.$primary-hover-dark;
}

/*
 * =============================
 * --------- BANNER ------------
 * =============================
 */

 .banner {
  width: 100%;
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  text-align: center;
  font-family: Avenir;
  transition-duration: 0.3s;
  margin-bottom: 1em;
 }

 .banner-info {
  background-color: #CCE5FF;
  color: #004C99;
 }

 .dark .banner-info {
  background-color: #003265;
  color: #8dc4ff;
 }

 .banner-error {
  background-color: #FFCCCC;
  color: #660000;
 }

 .dark .banner-error {
  background-color: #660000;
  color: #ffacac;
 }

 /*
 * =============================
 * ------- CENTER BOX ----------
 * =============================
 */

.center-box {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  border-radius: 12px;
  transition-duration: 0.4s;
  background-color: variables.$white-gray;
}

#center-box-title {
  text-align: center;
  margin: .4em auto;
}

.row-break {
  flex-basis: 100%;
  height: 10;
}

.dark .center-box {
  background-color: variables.$division-gray;
}

.dark .center-box h1 {
  color: variables.$lightest-gray;
}

.center-box input {
  width: 70%;
  margin: 0em auto .5em auto;
}

.dark .center-box input {
  background-color: #1A1A1A;
  color: white;
}

#do-login-button {
  width: 70%;
  margin: .5em auto;
}

#link-group {
  margin: .5em auto;
  width: 70%;
  display: flex;
}

#forgot-password {
  margin-left: auto;
}

.grp {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.hidden-text {
  font-size: .8em;
  transition-duration: .2s;
  margin-bottom: .3em;
  margin-left: .3em;
  transition-duration: .2s;
  position: relative;
  top: .7em;
  color: variables.$lighter-gray;
  opacity: 0%;
}

.left-margin {
  margin-left: auto;
}

.hidden-text-shown {
  top: 0;
  opacity: 100%;
}

.hidden-text-bad {
  color: lightcoral;
}

/*
 * =============================
 * ---------- LOGO -------------
 * =============================
 */

.logo {
  margin: 0;
  padding: 0;
  margin-left: -.1em;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: variables.$primary-light;
  transition-duration: 0.2s;
}

.logo:link {
  text-decoration: none;
}

.logo:visited {
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  border: none;
  color: variables.$primary-hover-light;
}

.logo:active {
  text-decoration: none;
}

.dark .logo {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: variables.$primary-dark;
}

.dark .logo:link {
  text-decoration: none;
}

.dark .logo:visited {
  text-decoration: none;
}

.dark .logo:hover {
  text-decoration: none;
  border: none;
  color: variables.$primary-hover-dark;
}

.dark .logo:active {
  text-decoration: none;
}