#form {
  padding: 2em 0;
}

.textField {
  margin: 0 auto;
  width: 70%;
}

#loginButton {
  margin: 0 auto;
  width: 70%;
}

.linkGroup {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

#forgotPasswordButton {
  margin-left: auto;
}

@media screen and (max-width: 700px) {
  .textField {
    width: 90%;
  }

  #loginButton {
    width: 90%;
  }

  .linkGroup {
    width: 90%;
  }

  .banner {
    min-height: 0em;
  }
}