@use 'variables' as *;

#toggleDarkModeButton {
  height: 2.4em;
  width: 2.4em;

  color: #ffffff;
  padding: .3em;
  margin-left: 1em;
}

#loginButton {
  margin-left: auto;
}

#registerButton {
  margin-left: 1em;
}

.link {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  padding: .6em 1.3em;
  transition-duration: 0s;
  margin-left: 1em;
  margin-top: .8em;
}

.link:hover {
  border-radius: 0;
  border-bottom: 3px solid $primary-light;
  margin-bottom: -3px;
}

.link:active {
  transition-duration: 0.2s;
  color: $primary-light;
  background-color: rgba(0,0,0,0);
}

.dark .link {
  color: $lightest-gray;
}

.dark .link:hover {
  border-color: $primary-hover-dark;
}

.dark .link:active {
    color: $primary-light;
    background-color: rgba(0,0,0,0);
}

.activePage {
  color: #ffffff;
  background-color: #0FD68D;
  transition-duration: 0.2s;
}

.activePage:hover {
  background-color: $primary-hover-light;
  border-radius: 8px;
  border: 0;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.dark .activePage {
  color: #ffffff;
  background-color: $primary-dark;
  transition-duration: 0.2s;
}

.dark .activePage:hover {
  background-color: $primary-hover-dark;
}

.logo {
  margin: 0;
  padding: 0;
  margin-left: -.1em;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: $primary-light;
  transition-duration: 0.2s;
}

.logo:link {
  text-decoration: none;
}

.logo:visited {
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  border: none;
  color: $primary-hover-light;
}

.logo:active {
  text-decoration: none;
}

.dark .logo {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: $primary-dark;
}

.dark .logo:link {
  text-decoration: none;
}

.dark .logo:visited {
  text-decoration: none;
}

.dark .logo:hover {
  text-decoration: none;
  border: none;
  color: $primary-hover-dark;
}

.dark .logo:active {
  text-decoration: none;
}