#form {
  padding: 2em 0;
}

.textField {
  margin: 0 auto;
  width: 70%;
}

#loginButton {
  margin: 0 auto;
  width: 70%;
}

.linkGroup {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
}

#forgotPasswordButton {
  margin-left: auto;
}